.intro__container {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin: 0 0 0 148px;
}

@media screen and (max-width: 320px) {
  .intro__container {
    margin: 0 16px 0;
  }
}

@media screen and (max-width: 768px) {
  .intro__container {
    margin: 0 0 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__container {
    margin: 0 0 0 48px;
  }
}