.intro {
  display: flex;
  flex-direction: column;
  padding: 92px 0 92px 0;
  max-width: 690px;
}

@media screen and (max-width: 500px) {
  .intro {
    margin: 0 16px 0;
    max-width: 288px;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    margin: 0 0 0 24px;
    max-width: 720px;
  }
}